// html, body {
//   font-family: Comic Sans MS, "Comic Sans MS", -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
// }

.nav-links .repo-link {
  display: none
}

// 禁用首页的content展示
.md-content-wrapper {
  display: none
}
// 禁用底部footer的展示
.footer-wrapper {
  display: none
}
