// html, body {
//   font-family: Comic Sans MS, "Comic Sans MS", -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
// }

.nav-links .repo-link {
  display: none
}

#valine:last-child
  position relative
  margin-top: 90px
  &:last-child::before
    position: absolute
    top: -95px
    left 0
    display: block
    content 'NOTE: 由于个人精力有限，无法维护社区评论，评论功能暂时关闭，如有疑问或 bug，请点击右上角 GitHub 按钮提交 issue。'
    color: #3eaf7c
    font-size: 18px
    line-height: 30px
  .vwrap
    display: none